html { 
    background: url(/img/picnic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body, h1 {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    color: #444;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    text-shadow: 2px 2px aqua, 4px 4px hotpink, 6px 6px whitesmoke, 8px 8px hotpink, 10px 10px aqua;
}