html { 
    background: url(/img/picnic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body, h1 {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    text-shadow: 4px 4px aqua, 6px 6px hotpink, 8px 8px whitesmoke, 10px 10px hotpink, 12px 12px aqua;
}